* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

:root {
  --back-color: #000324;
  --buttons-color: #323df7;
  --main-color:#f7f7f9;
  --sec-color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}


/* buttons */
.button1 {
  align-self: center;
  color: var(--main-color);
  text-decoration-line: none;
  background-color: var(--buttons-color);
  padding: 15px 60px;
  border-radius: 50px;
  text-transform: capitalize;
  box-shadow: 0 10px 20px #323cf76c;
  display: block;
}


@media (min-width: 576px) {
  .container {
    width: calc(576px - 60px);
  }
}

@media (min-width: 768px) { 
  .container {
    width: calc(768px - 60px);
  }
}

@media (min-width: 992px) {
  .container {
    width: calc(992px - 60px);
  }
}


@media (min-width: 1200px) {
  .container {
    width: calc(1200px - 60px);
  }
}
@media (min-width: 1400px) {
  .container {
    width: calc(1400px - 60px);
  }
}