body {
  background-color: var(--back-color);
  overflow-x: hidden;
}
header {
  position: sticky;
  top: 0;
  z-index: 11111;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
header::after {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter:  blur(20px);
  background-color: #22245494;
  z-index: -1;
}
header .container > nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .container > nav li {
  list-style: none;
}
header .container > nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  overflow-x: clip;
  display: inline-block;
  transition: color .2s;
}
header .container > nav li a.active {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--buttons-color);
  bottom: -14px;
  left: -100%;
  transition: .4s;
}
header .container > nav li:not(:last-child) a:hover {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a:hover::after {
  left: 0;
}
header .container > nav li:not(:last-child) a.active::after {
  left: 0;
}
header .container > nav li:last-child a {
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 50px;
}

#menu {
  display: none;
}

header .container .menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  cursor: pointer;
}
header .container .menu-button span {
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 4px;
}



header .container aside {
  position: fixed;
  top: calc(80px + 20px);
  right: 0;
  height: calc(100vh - 80px - 20px);
  width: 200px;
  transition: right 1s;
  display: none;
  background-color: #22245494;
  backdrop-filter: blur(20px);
}
#menu:checked ~ aside {
  right: -200px;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  padding-top: 60px;
  
}
aside nav li {
  list-style: none;

}

aside nav li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: var(--main-color);
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
/* START RESPUNSIVE HEADER */

@media (max-width: 1200px) {
  header .container > nav {
    gap: 30px;
  }
  header .container > nav li a {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  header .container img {
    width: 130px;
  }
  header .container > nav {
    gap: 20px;
  }
  header .container > nav li a {
    font-size: 0.9rem;
  }
  header .container > nav li:last-child a {
    padding: 7px 15px;
  }
}

@media (max-width: 768px) { 
  header .container > nav li {
    display: none;
  }
  header .container .menu-button {
    display: flex;
  }
  header .container aside {
    display: block;
  }
}


@media (max-width: 576px) {
  header .container {
    padding-top: 10px;
    padding-bottom: 0;
  }

  header .container .menu-button {
    width: 30px;
    height: 30px;
  }
  header .container aside {
    top: calc(80px + 0px);
    height: calc(100vh - 80px - 0px);
  }
}


/* END RESPUNSIVE HEADER */


main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  min-height: calc(100vh);
  margin-top: -80px;
  z-index: -1;
  background-image: radial-gradient( #222454   , #000324);
}
main > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1111;
  width: 80vw;
}
main > img:not([src="layout/images/air.png"]) {
  opacity: 90%;
}
main > h1 { 
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
  text-transform: uppercase;
  font-size: 10vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c7c9ff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5vw;
  opacity: 20%;
}
main .text {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10vh;
}
main .text h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: capitalize;
  word-spacing: 7px;

}
main .text p {
  font-size: 0.7rem;
  opacity: 70%;
}



@media (max-width: 992px) {
  main .text h1 {
    font-size: 2rem;
    word-spacing: 7px;
  }
  main .text p {
    font-size: 0.5rem;
  }
}

@media (max-width: 576px)  {
  main > h1 {
  top: 35vh;
  }
  main .text {
    padding: 10px;
  }
  main .text h1 {
    font-size: 1.7rem;
    word-spacing: normal;
  }
  main .text p {
    font-size: 0.9rem;
  }
  
}



/* START SECTION FETURSE CUSTOMAIZE */

.features {

  background-color: var(--main-color);
}
.features .container {
  padding-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}
.features .container > h1 {
  font-size: 2.4rem;
}
.features .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;

  flex-wrap: wrap;
}
.features .container .cards .card {
  background-color: var(--main-color);
  flex-basis: 290px;
  border-radius: 200px;
  box-shadow: 0 50px 50px #00032418;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.features .container .cards .card  h2 {
  margin: 5px 0;
}
.features .container .cards .card p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}
.features .container .cards .card span {
  background-color: #ebebfa;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .container .cards .card:nth-child(2),
.features .container .cards .card:nth-child(4) {
  margin-bottom: 75px;
}


@media (max-width: 992px) {
  .features .container .cards {
    flex-direction: column;
  }
  .features .container .cards .card {
    border-radius: 100px;
  }
  .features .container .cards .card:nth-child(2),
  .features .container .cards .card:nth-child(4) {
    margin-bottom: 0;
  }

}

/* END SECTION FETURSE CUSTOMAIZE */




/* START SECTION BOOK CUSTOMAIZE */
.services {
  position: relative;
  padding: 50px;
}
.services::after {
  content: '';
  position: absolute;
  background-color: var(--back-color);
  inset: 0;
  bottom: 70%;
  z-index: -1;
}
.services::before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  inset: 0;
  top: 30%;
  z-index: -1;
}
.services .container {
  
  position: relative;
  background-color: var(--main-color);
  box-shadow: 0 50px 50px #00032418;
  padding: 50px 60px;
  border-radius: 0 30px 30px ;
} 
.services .container > ul {
  display: flex;
  justify-content: center;
  align-items: stretch;

  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  border-bottom: 1px solid #6969693e;
  margin: 0;
  padding: 0;
}
.services .container > ul li {
  list-style-type: none;
  width: 115px;
}
.services .container > ul li a {
  text-decoration-line: none ;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--main-color);
  font-weight: 700;
}
.services .container > ul li:first-child a {
  border-radius: 20px 0 0 0 ;
}
.services .container > ul li:last-child  a {
  border-radius: 0 20px  0 0 ;
}

.services .container > ul li a.active {
  background-color: var(--buttons-color);
  color: var(--main-color);
}
.services .content .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.services .content .items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 200px;
}
.services .content .items .item .text-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.services .content .items .item h3 {
  font-weight: 600;
  text-transform: capitalize;
}
.services .content .items .item p  {
  opacity: 60%;
}
.services .content .items .item h3, 
.services .content .items .item p {
  margin: 0;
}
.services .content .items .item span {
  background-color: #ebebfa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.services .container .content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}
.services .container .content > a {
  align-self: center;
  color: var(--main-color);
  text-decoration-line: none;
  background-color: var(--buttons-color);
  padding: 15px 60px;
  border-radius: 50px;
  text-transform: capitalize;
  box-shadow: 0 10px 20px #323cf76c;
}


@media (max-width: 576px)  { 

  .services .container {
    border-radius: 0 0 30px 30px;
  }
  .services .container ul {
    width: 100%;
  }
  .services .container > ul li {
    width: auto;
    flex-grow: 1;
  }
  .services .container > ul li a {
    font-size: 4vw;
  }

  .services .content .items .item  {
    flex-direction: column;
    align-items: center;

  }
  .services .content .items .item .text-item {
    align-items: center;
    text-align: center;
  } 
  .services .container .content > a {
    padding: 15px 30px;
  }
}



/* END SECTION BOOK CUSTOMAIZE */

/* START SECTION FLY CUSTOMAIZE */

  .fly {
    background-color: var(--main-color);
  }
  .fly .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
  }
  .fly .container .left-cont {
    flex-basis: 50%;
    flex-grow: 1;
    position: relative;
  }
  .fly .container .left-cont .images {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% , -50%);
  }
  .fly .container .left-cont img {
    border-radius: 200px;
    border: 10px solid var(--main-color) ;
  }
  .fly .container .left-cont div:nth-child(2) {
    transform: scale(0.9);
    top: 0;
    left: -130px;
    position: absolute;
  }
  .fly .container .left-cont div:nth-child(3) {
    transform: scale(0.9);
    bottom: 0;
    right: -140px;
    position: absolute;
  }
  .fly .container .right-cont {
    flex-grow: 1;
    flex-basis: 50%;
  }

  
@media (max-width: 1200px) {
    .fly .container .left-cont .images {
      transform: translate(-50% , -50%) scale(0.8);
    }
}


  @media (max-width: 992px) {
    .fly .container {
      flex-direction: column;
    }
    
  }

  @media (max-width: 576px)  { 
    .fly .container {
      height: auto;
      align-items: flex-start;
    }
    .fly .container .left-cont  {
      width: 100%;
    }
    .fly .container .left-cont .images  {
      position: relative;
      align-items: center;
      transform: translate(0 , 0);
      display: flex;
      overflow-x: scroll;
      width: 100%;
      scroll-snap-type: x mandatory;
      counter-reset: counImg;
      left: auto;
      top: auto;
    }
    .fly .container .left-cont .images::-webkit-scrollbar {
      width: 0;
    }
    .fly .container .left-cont .images div {
      min-width: 100%;
      position: relative;
      transform: scale(1);
      left: auto;
      right:auto ;
    }
    .fly .container .left-cont .images img {
      position: static;
      min-width: 100%;
      height: 550px;
      border-radius: 0;
      border: none;
      object-fit: cover;
      scroll-snap-align: start;
    }
    .fly .container .left-cont .images div::before {
      content: counter(counImg);
      counter-increment: counImg;
      position: absolute;
      z-index: 1;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 10px;
      top: 20px;
      right: 20px;
      color: #FFF;
      backdrop-filter: blur(4px);
    }
    .fly .container .left-cont .images div::after {
      position: absolute;
      content: '';
      inset: 0;
      background-image: linear-gradient(#2020206f, transparent);
      z-index: 0;
    }
    
    
  }

/* END SECTION FLY CUSTOMAIZE */






