body {
  background-color: var(--back-color);
  overflow-x: hidden;
}
body > header {
  position: sticky;
  top: 0;
  z-index: 11111;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
body > header::after {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter:  blur(20px);
  background-color: #22245494;
  z-index: -1;
}
header .container > nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .container > nav li {
  list-style: none;
}
header .container > nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  overflow-x: clip;
  display: inline-block;
  transition: color .2s;
}
header .container > nav li a.active {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--buttons-color);
  bottom: -14px;
  left: -100%;
  transition: .4s;
}
header .container > nav li:not(:last-child) a:hover {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a:hover::after {
  left: 0;
}
header .container > nav li:not(:last-child) a.active::after {
  left: 0;
}
header .container > nav li:last-child a {
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 50px;
}

#menu {
  display: none;
}

header .container .menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  cursor: pointer;
}
header .container .menu-button span {
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 4px;
}



header .container aside {
  position: fixed;
  top: calc(80px + 20px);
  right: 0;
  height: calc(100vh - 80px - 20px);
  width: 200px;
  transition: right 1s;
  display: none;
  background-color: #22245494;
  backdrop-filter: blur(20px);
}
#menu:checked ~ aside {
  right: -200px;
}
aside nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  padding-top: 60px;
  
}
aside nav li {
  list-style: none;

}

aside nav li a {
  text-decoration: none;
  text-align: center;
  display: block;
  color: var(--main-color);
  padding: 10px;
  border: 1px solid var(--main-color);
  border-radius: 20px;
}
/* START RESPUNSIVE HEADER */

@media (max-width: 1200px) {
  header .container > nav {
    gap: 30px;
  }
  header .container > nav li a {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  header .container img {
    width: 130px;
  }
  header .container > nav {
    gap: 20px;
  }
  header .container > nav li a {
    font-size: 0.9rem;
  }
  header .container > nav li:last-child a {
    padding: 7px 15px;
  }
}

@media (max-width: 768px) { 
  header .container > nav li {
    display: none;
  }
  header .container .menu-button {
    display: flex;
  }
  header .container aside {
    display: block;
  }
}


@media (max-width: 576px) {
  header .container {
    padding-top: 10px;
    padding-bottom: 0;
  }

  header .container .menu-button {
    width: 30px;
    height: 30px;
  }
  header .container aside {
    top: calc(80px + 0px);
    height: calc(100vh - 80px - 0px);
  }
}


/* END RESPUNSIVE HEADER */


main {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  min-height: calc(100vh);
  margin-top: -80px;
  z-index: -1;
  background-image: radial-gradient( #222454   , #000324);
}
main > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1111;
  width: 80vw;
}
main > img:not([src="layout/images/air.png"]) {
  opacity: 90%;
}
main > h1 { 
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
  text-transform: uppercase;
  font-size: 10vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c7c9ff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5vw;
  opacity: 20%;
}
main .text {
  color: var(--main-color);
  text-align: center;
  margin-bottom: 10vh;
}
main .text h1 {
  margin: 0;
  font-size: 3rem;
  text-transform: capitalize;
  word-spacing: 7px;

}
main .text p {
  font-size: 0.7rem;
  opacity: 70%;
}



@media (max-width: 992px) {
  main .text h1 {
    font-size: 2rem;
    word-spacing: 7px;
  }
  main .text p {
    font-size: 0.5rem;
  }
}

@media (max-width: 576px)  {
  main > h1 {
  top: 35vh;
  }
  main .text {
    padding: 10px;
  }
  main .text h1 {
    font-size: 1.7rem;
    word-spacing: normal;
  }
  main .text p {
    font-size: 0.9rem;
  }
  
}



/* START SECTION FETURSE CUSTOMAIZE */

.features {

  background-color: var(--main-color);
}
.features .container {
  padding-bottom: 50px;
  text-align: center;
  padding-top: 50px;
}
.features .container > h1 {
  font-size: 2.4rem;
}
.features .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 50px;

  flex-wrap: wrap;
}
.features .container .cards .card {
  background-color: var(--main-color);
  flex-basis: 290px;
  border-radius: 200px;
  box-shadow: 0 50px 50px #00032418;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.features .container .cards .card  h2 {
  margin: 5px 0;
}
.features .container .cards .card p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
}
.features .container .cards .card span {
  background-color: #ebebfa;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features .container .cards .card:nth-child(2),
.features .container .cards .card:nth-child(4) {
  margin-bottom: 75px;
}


@media (max-width: 992px) {
  .features .container .cards {
    flex-direction: column;
  }
  .features .container .cards .card {
    border-radius: 100px;
  }
  .features .container .cards .card:nth-child(2),
  .features .container .cards .card:nth-child(4) {
    margin-bottom: 0;
  }

}

/* END SECTION FETURSE CUSTOMAIZE */




/* START SECTION BOOK CUSTOMAIZE */
.services {
  position: relative;
  padding: 50px;
}
.services::after {
  content: '';
  position: absolute;
  background-color: var(--back-color);
  inset: 0;
  bottom: 70%;
  z-index: -1;
}
.services::before {
  content: '';
  position: absolute;
  background-color: var(--main-color);
  inset: 0;
  top: 30%;
  z-index: -1;
}
.services .container {
  
  position: relative;
  background-color: var(--main-color);
  box-shadow: 0 50px 50px #00032418;
  padding: 50px 60px;
  border-radius: 0 30px 30px ;
} 
.services .container > ul {
  display: flex;
  justify-content: center;
  align-items: stretch;

  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  border-bottom: 1px solid #6969693e;
  margin: 0;
  padding: 0;
}
.services .container > ul li {
  list-style-type: none;
  width: 115px;
}
.services .container > ul li a {
  text-decoration-line: none ;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: var(--main-color);
  font-weight: 700;
}
.services .container > ul li:first-child a {
  border-radius: 20px 0 0 0 ;
}
.services .container > ul li:last-child  a {
  border-radius: 0 20px  0 0 ;
}

.services .container > ul li a.active {
  background-color: var(--buttons-color);
  color: var(--main-color);
}
.services .content .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.services .content .items .item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  flex-basis: 200px;
}
.services .content .items .item .text-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.services .content .items .item h3 {
  font-weight: 600;
  text-transform: capitalize;
}
.services .content .items .item p  {
  opacity: 60%;
}
.services .content .items .item h3, 
.services .content .items .item p {
  margin: 0;
}
.services .content .items .item span {
  background-color: #ebebfa;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.services .container .content {
  display: flex;
  gap: 40px;
  flex-direction: column;
}


@media (max-width: 576px)  { 

  .services .container {
    border-radius: 0 0 30px 30px;
  }
  .services .container ul {
    width: 100%;
  }
  .services .container > ul li {
    width: auto;
    flex-grow: 1;
  }
  .services .container > ul li a {
    font-size: 4vw;
  }

  .services .content .items .item  {
    flex-direction: column;
    align-items: center;

  }
  .services .content .items .item .text-item {
    align-items: center;
    text-align: center;
  } 
  .services .container .content > a {
    padding: 15px 30px;
  }
}



/* END SECTION BOOK CUSTOMAIZE */

/* START SECTION FLY CUSTOMAIZE */

  .fly {
    background-color: var(--main-color);
  }
  .fly .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 100px;
  }
  .fly .container .left-cont {
    flex-basis: 60vh;
    flex-grow: 1;
    position: relative;
  }
  .fly .container .left-cont .images {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% , -50%);
  }
  .fly .container .left-cont img {
    border-radius: 200px;
    border: 10px solid var(--main-color) ;
  }
  .fly .container .left-cont div:nth-child(2) {
    transform: scale(0.9);
    top: 0;
    left: -130px;
    position: absolute;
  }
  .fly .container .left-cont div:nth-child(3) {
    transform: scale(0.9);
    bottom: 0;
    right: -140px;
    position: absolute;
  }
  .fly .container .right-cont {
    flex-grow: 1;
    flex-basis: 50%;
  }



  /* start right column */
  .right-cont .text-right-cont {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .right-cont .text-right-cont .dashed {
    display: block;
    border-top: 2px dashed #21222e21;
    flex-grow: 1;
  }
  .right-cont .text-right-cont span:first-child {
    color: var(--buttons-color);
    font-weight: 900;
  }
  .right-cont > h3 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .right-cont ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    font-weight: 600;
    position: relative;
  }

  .right-cont ul li {
    list-style: none;
    position: relative;
    line-height: 1.6;

  }
  .right-cont ul li::before {
    position: absolute;
    content: '';
    left: -18px;
    top: calc(12.5px - 5px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1;
    /* transform: translateY(-50%); */
    background-color: var(--buttons-color);
  }

  .right-cont ul li:not(:last-child)::after {
    position: absolute;
    content: '';
    height: 110%;
    top: calc(14.5px - 5px);
    left: -14px;
    z-index: 0;
    border-left: 2px dashed #21222e21;
  }
  .right-cont ul li:not(:last-child) {
    padding-bottom: 15px;
  }

  .right-cont .button1 {
    margin-top: 20px;
    width: fit-content;
  }

  /* end right column */

  
@media (max-width: 1400px) {
    .fly .container .left-cont .images {
      transform: translate(-50% , -50%) scale(0.8);
    }
}
@media (max-width: 1200px) {
  .fly .container {
    flex-direction: column;
  }
  .right-cont > h3 {
    font-size: 1.5rem;
  }
}


  @media (max-width: 992px) {
    .fly .container {
      flex-direction: column;
    }
    
  }

  @media (max-width: 576px)  { 
    .fly .container {
      height: auto;
      align-items: flex-start;
    }
    .fly .container .left-cont  {
      width: 100%;
    }
    .fly .container .left-cont .images {
      position: relative;
      transform: translate(0 , 0);
      display: flex;
      align-items: stretch;
      overflow-x: scroll;
      width: 100%;
      scroll-snap-type: x mandatory;
      counter-reset: counImg;
      left: auto;
      top: auto;
    }
    .fly .container .left-cont .images::-webkit-scrollbar {
      width: 0;
    }
    .fly .container .left-cont .images div {
      min-width: 100%;
      position: relative;
      transform: scale(1);
      left: auto;
      right:auto ;
      display: flex;
    }
    .fly .container .left-cont .images img {
      position: static;
      min-width: 100%;
      border-radius: 0;
      border: none;
      object-fit: cover;
      scroll-snap-align: start;
    }
    .fly .container .left-cont .images div::before {
      content: counter(counImg);
      counter-increment: counImg;
      position: absolute;
      z-index: 1;
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 10px;
      top: 20px;
      right: 20px;
      color: #FFF;
      backdrop-filter: blur(4px);
    }
    .fly .container .left-cont .images div::after {
      position: absolute;
      content: '';
      inset: 0;
      background-image: linear-gradient(#2020206f, transparent);
      z-index: 0;
    }

    .right-cont .button1 {
      margin-top: 20px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
    }
  }

/* END SECTION FLY CUSTOMAIZE */
/* START SECTION WORLD CUSTOMAIZE */

  .world .container {
    display: flex;
    color: var(--main-color);
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .world .left-world {
    flex-basis: 50%;
    flex-grow: 1;
  }
  .world .left-world h1 {
    font-size: 3rem;
  }
  .world .left-world p {
    font-size: 1.2rem;
    font-weight: 100;
    width: 90%;
  }
  .world .left-world img {
    width: 250px;

  }
  .world .right-world {
    flex-basis: 50%;
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    align-items: center;
    position: relative;
  }
  .world .right-world .cards {
    position: relative;
  }
  .world .right-world .cards .card {
    background-color: var(--main-color);
    color: #000;
    width: 400px;
    padding: 25px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
  }
  .world .right-world .cards .card:not(:nth-of-type(1)) {
    position: absolute;
  }

  .world .right-world .cards .card:nth-of-type(1) .circle::after {
    background-color: #262743;
  }
  .world .right-world .cards .card:nth-of-type(2) {
    z-index: -1;
    top: 20px;
    left: 20px;
    background-color: #262743;
  }
  .world .right-world .cards .card:nth-of-type(2) > img,
  .world .right-world .cards .card:nth-of-type(3) > img,
  .world .right-world .cards .card:nth-of-type(4) > img {
    opacity: 0;
  }
  .world .right-world .cards .card:nth-of-type(2) .circle::after {
    background-color: #1a1b39;
  }
  .world .right-world .cards .card:nth-of-type(3) {
    z-index: -2;
    top: 40px;
    left: 40px;
    background-color: #1a1b39;
  }
  .world .right-world .cards .card:nth-of-type(3) .circle::after {
    background-color: #0e0f2e;
  }
  .world .right-world .cards .card:nth-of-type(4) {
    z-index: -3;
    background-color: #0e0f2e;
    top: 60px;
    left: 60px;
  }
  .world .right-world .cards .card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .world .right-world  header a {
    text-decoration: none;
    color: var(--buttons-color);
    display: block;
    padding: 10px;
    background-color: #eaebfe;
    border-radius: 20px;
    font-weight: 600;
  }
  .world .right-world  header .travel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .world .right-world  header .travel img {
    width: 30px;
    vertical-align: middle;
  }
  .world .right-world .cards .card table {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .world .right-world .cards .card table thead td {
    font-size: 1.2rem;
  }
  .world .right-world .cards .card table td {
    font-weight: 700;
  }
  .world .right-world .cards .card table tbody th {
    font-weight: 500;
    color: #6c6c6c;
    text-align: start;
  }
  .world .right-world .cards .card table tbody {
    display: flex;
    flex-direction: column;
  }
  .world .right-world .cards .card table tbody tr {
    display: flex;
  }
  .world .right-world .cards .card table tbody tr th,
  .world .right-world .cards .card table tbody tr td {
    flex-grow: 1;
    flex-basis: 50%;
  }
  .world .right-world .cards .card table tbody tr:not(:first-child):has(th) {
    margin-top: 30px;
  }
  .world .right-world .cards .card hr {
    align-self: stretch;
    width: 100%;
    border: none;
    border-bottom: 2px dashed #00032477;
    margin: 0;
  }
  .world .right-world .circle {
    position: relative;
  }
  .world .right-world .circle::after,
  .world .right-world .circle::before { 
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--back-color);
    top: 50%;
    transform: translateY(-50%);
    left: -45px;
  }
  .world .right-world .circle::after {
    left: auto;
    right: -45px;
  }

  .world .right-world .cards .card > img {
    margin-top: 20px;
  }

  .world .right-world .left-moving {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .world .right-world .left-moving .top-move  {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

  }
  .world .right-world .left-moving .top-move span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
  }
  .world .right-world .left-moving .top-move span.active {
    background-color: var(--main-color);
  }
  .world .right-world .left-moving .medile-move {
    height: 40%;
    display: flex;
    flex-direction: column;
  }
  .world .right-world .left-moving .medile-move hr {
    border: none;
    height: 100%;
    border-left: 2px dashed #eaebfe5b;
  }
  .world .right-world .left-moving .bottom-move {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .world .right-world .left-moving .bottom-move span {
    width: 40px;
    height: 40px;
    background-color: #1a1b39;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
  }
  .world .right-world .left-moving .bottom-move span.active {
    background-color: var(--buttons-color);
    box-shadow: 0 5px 10px #323cf75f ;
  }


  @media (max-width: 1400px) {
    .world .right-world .cards .card {
      width: 350px;
      gap: 20px;

    }
    .world .left-world h1 {
      font-size: 2.5rem;
    }
    .world .left-world p {
      font-size: 1rem;
      font-weight: 100;
      width: 90%;
    }
  }
  @media (max-width: 1200px) {
    .world .right-world .cards .card {
      width: 300px;
      gap: 10px;

    }
    .world .right-world .cards .card:nth-of-type(2) {
      top: 15px;
      left: 15px;
    }
    .world .right-world .cards .card:nth-of-type(3) {
      top: 30px;
      left: 30px;
    }
    .world .right-world .cards .card:nth-of-type(4) {
      top: 45px;
      left: 45px;
    }


    .world .right-world .cards .card table {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .world .right-world .cards .card table tbody tr:not(:first-child):has(th) {
      margin-top: 15px;
    }
    .world .left-world h1 {
      font-size: 2.0rem;
    }
    .world .left-world p {
      font-size: 0.8rem;
      font-weight: 100;
      width: 90%;
    }
    .world .left-world img {
      width: 200px;
  
    }

    .world .right-world .left-moving {
      height: 80%;
    }
  }

  @media (max-width: 992px) {
    .world .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .world .left-world {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .world .right-world {
      justify-content: center;
    }
  }

  @media (max-width: 768px) { 
    .world .right-world {
      padding-bottom: 120px;
    }
    .world .right-world .left-moving {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      bottom: 0;
      align-items: center;
      gap: 10px;
    }
    .world .right-world .left-moving .top-move,
    .world .right-world .left-moving .bottom-move {
      flex-direction: row;
    }
    .world .right-world .left-moving .medile-move {
      width: 30%;
    }
    .world .right-world .left-moving .medile-move hr {
      border: none;
      width: 100%;
      height: auto;
      border-bottom: 2px dashed #eaebfe5b;

    }
    .world .right-world .circle::after,
    .world .right-world .circle::before { 
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: var(--back-color);
      top: 50%;
      transform: translateY(-50%);
      left: -40px;
    }
    .world .right-world .circle::after {
      left: auto;
      right: -40px;
    }



  
  }


    
  @media (max-width: 420px) {
    .world .right-world .cards .card {
      width: 250px;
      gap: 10px;

    }
    .world .right-world .cards .card header a{
      font-size: 12px;
      padding: 5px 7px ;
    }
    .world .right-world .cards .card header .travel span {
      font-size: 12px;
    }
    .world .right-world .cards .card table tr td, 
    .world .right-world .cards .card table tr th {
      font-size: 12px;
    }

  
  .world .right-world .cards .card:nth-of-type(2) {
    top: 10px;
    left: 10px;
  }
  .world .right-world .cards .card:nth-of-type(3) {
    top: 20px;
    left: 20px;
  }
  .world .right-world .cards .card:nth-of-type(4) {
    top: 30px;
    left: 30px;
  }

  .world .right-world .circle::after,
  .world .right-world .circle::before { 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--back-color);
    top: 50%;
    transform: translateY(-50%);
    left: -35px;
  }
  .world .right-world .circle::after {
    left: auto;
    right: -35px;
  }
  .world .right-world .left-moving {
    flex-direction: column;
  }
  .world .right-world .left-moving .top-move span {
    width: 8px;
    height: 8px;
  }
  .world .right-world .left-moving .medile-move hr { 
    display: none;
  }
  }


/* EMD SECTION WORLD CUSTOMAIZE */
