body {
  background-color: var(--back-color);

  overflow-x: hidden;

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding-top: 20px;
  overflow-x: hidden;
}
header .container > nav {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .container > nav li {
  list-style: none;
}
header .container > nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  overflow-x: clip;
  display: inline-block;
  transition: color .2s;
}
header .container > nav li a.active {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--buttons-color);
  bottom: -14px;
  left: -100%;
  transition: .4s;
}
header .container > nav li:not(:last-child) a:hover {
  color: var(--buttons-color);
}
header .container > nav li:not(:last-child) a:hover::after {
  left: 0;
}
header .container > nav li:not(:last-child) a.active::after {
  left: 0;
}
header .container > nav li:last-child a {
  border: 2px solid var(--main-color);
  padding: 10px 30px;
  border-radius: 50px;
}

#menu {
  display: none;
}

header .container .menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  cursor: pointer;
}
header .container .menu-button span {
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 4px;
}



header .container aside {
  position: fixed;
  top: calc(80px + 20px);
  right: 0;
  background-color: aqua;
  height: calc(100vh - 80px - 20px);
  width: 200px;
  transition: right 1s;
  display: none;
}
#menu:checked ~ aside {
  right: -200px;
}

/* START RESPUNSIVE HEADER */

@media (max-width: 1200px) {
  header .container > nav {
    gap: 30px;
  }
  header .container > nav li a {
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  header .container img {
    width: 130px;
  }
  header .container > nav {
    gap: 20px;
  }
  header .container > nav li a {
    font-size: 0.9rem;
  }
  header .container > nav li:last-child a {
    padding: 7px 15px;
  }
}

@media (max-width: 768px) { 
  header .container > nav li {
    display: none;
  }
  header .container .menu-button {
    display: flex;
  }
  header .container aside {
    display: block;
  }
}


@media (max-width: 576px) {
  header .container {
    padding-top: 10px;
  }
  header .container .menu-button {
    width: 30px;
    height: 30px;
  }
  header .container aside {
    top: calc(80px + 10px);
    height: calc(100vh - 80px - 10px);
  }
}


/* END RESPUNSIVE HEADER */


main {
  position: relative;
  min-height: calc(100vh);
  margin-top: -90px;
  z-index: -1;
  background-image: radial-gradient( #222454   , #000324);
}
main > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1111;
  width: 80vw;
}
main > img:not([src="layout/images/air.png"]) {
  opacity: 90%;
}
main > h1 { 
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translate(-50% , -50%);
  z-index: 1;
  text-transform: uppercase;
  font-size: 10vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #c7c9ff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 5vw;
  opacity: 20%;
}
@media (max-width: 576px)  {
  main > h1 {
  top: 35vh;
  }
}